{{ if not .IsHome }}
<nav aria-label="breadcrumb" class="breadcrumb">
  <ol>
    {{ $ancestors := .Ancestors.Reverse }}
    {{ $count := len $ancestors }}

    {{ if gt $count 0 }}
      <li><a href="{{ (index $ancestors 0).RelPermalink }}">Home</a></li>

      {{ if gt $count 2 }}
        {{ $twoUp := index .Ancestors 1 }}
        <li><a href="{{ $twoUp.RelPermalink }}">...</a></li>
        
        {{ range (last 1 $ancestors) }}
          <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
      {{ else }}
        {{ range (after 1 $ancestors) }}
          <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
      {{ end }}
    {{ end }}

    <li class="active" aria-current="page">{{ .Title }}</li>
  </ol>
</nav>
{{ end }}

